# macOS
.DS_Store

# Binary
bin/

# IDE
.idea/

# Node
node_modules/

# LOG
.playwright-mcp

# GS D
.planning

# 敏感配置文件
.yunxiao.yaml
.yunxiao-code/
*.env
*.env.*
.claude/settings.local.json

/yx-code